@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sentient-Variable";
  src: url("./fonts/Sentient-Variable.woff2") format("woff2");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

:root {
  font-family: "Sentient-Variable", Times, system-ui, Helvetica, Arial,
    sans-serif;
  line-height: 1.4;
  font-weight: 400;

  background-color: #1a1a1a;
  color: rgb(228 228 231);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

*:focus {
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

html,
body,
#root {
  height: 100dvh;
  width: 100dvw;
}
